language: haskell

env:
- GHCVER=7.8.3

before_install:
 - |
    if [ $GHCVER = `ghc --numeric-version` ]; then
        travis/cabal-apt-install --enable-tests $MODE
        export CABAL=cabal
    else
        travis_retry sudo add-apt-repository -y ppa:hvr/ghc
        travis_retry sudo apt-get update
        travis_retry sudo apt-get install cabal-install-1.18 ghc-$GHCVER happy
        export CABAL=cabal-1.18
        export PATH=/opt/ghc/$GHCVER/bin:$PATH
    fi
 - $CABAL update
 - |
    if [ $GHCVER = "head" ] || [ $GHCVER = "7.8.3" ]; then
        $CABAL install happy alex
        export PATH=$HOME/.cabal/bin:$PATH
    fi
 - git clone https://github.com/haskell-servant/servant.git
 - cabal sandbox init
 - cabal sandbox add-source servant

install:
 - cabal install --only-dependencies --enable-tests

script:
 - cabal configure --enable-tests --enable-library-coverage
 - cabal build && cabal test
 - cabal sdist

after_script:
  - cabal install hpc-coveralls
  - hpc-coveralls --exclude-dir=test spec

notifications:
  irc:
    channels:
      - "irc.freenode.org#servant"
    template:
      - "%{repository}#%{build_number} - %{commit} on %{branch} by %{author}: %{message}"
      - "Build details: %{build_url} - Change view: %{compare_url}"
    skip_join: true
    on_success: change
    on_failure: always
