sudo: false
dist: trusty

language: c

env:
  - STACK_YAML=stack-ghc-7.8.4.yaml
  - STACK_YAML=stack-ghc-7.10.3.yaml
  - STACK_YAML=stack.yaml
  - STACK_YAML=stack-ghc-8.2.1.yaml
  - STACK_YAML=stack-ghcjs-0.2.1.9007019.yaml

addons:
  apt:
    packages:
      - libgmp-dev

install:
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  - stack --version
  - stack setup --no-terminal
  - (cd $HOME/.local/bin && wget https://zalora-public.s3.amazonaws.com/tinc && chmod +x tinc)

script:
  - if [ "$STACK_YAML" = "stack-ghc-8.2.1.yaml" ]; then HOMEMODULES="--ghc-options=-Wno-missing-home-modules"; fi
  - if [ "$TRAVIS_EVENT_TYPE" = "cron" ] ; then ./scripts/ci-cron.sh ; else stack test $HOMEMODULES --ghc-options=-Werror --no-terminal ; fi

cache:
  directories:
    - $HOME/.tinc/cache
    - $HOME/.stack
