alabaster==0.7.7
argh==0.26.1
Babel==2.9.1
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2023.7.22
CommonMark==0.5.4
docutils==0.12
Jinja2==3.1.3
livereload==2.4.1
MarkupSafe==0.23
pathtools==0.1.2
Pygments==2.15.0
pytz==2015.7
PyYAML==5.4
recommonmark==0.4.0
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.3.4
sphinx-autobuild==0.5.2
sphinx-rtd-theme==0.1.9
tornado==6.3.3
watchdog==0.8.3
wheel==0.38.1
